@define-color wbc_ac1 #dd4cb0;
@define-color wbc_ac2 #9751ed;
@define-color wbc_bg  #1e1e2e;
@define-color wbc_fg  #bac2de;
@define-color wbc_ac3 #222232;

* {
  all:                  initial;
  border:               none;
  border-radius:        0px;
  font-family:          "JetBrainsMono Nerd Font";
  font-size:            1.0em;
  box-shadow:           none;
  text-shadow:          none;
  transition-duration:  0s;
  padding:              0px;
  margin:               0px;
}

window#waybar {
  background-color: @wbc_bg;
  color: @wbc_fg;
}

#workspaces label {
  color:             @wbc_bg;
  background-color:  @wbc_ac1;
}

#workspaces button.urgent { 
    color: rgba(33, 164, 223, 1);
}

#workspaces button.active label {
  font-weight: bold;
  color: white;
}

#window label {
  color: @wbc_fg;
  background-color: @wbc_ac3;
  font-size: 0.8em;
  padding: 0em 1em;
}

#tray {
  padding: 0em 0.5em;
  background-color: @wbc_ac3;
}

#clock.showtime {
  background-color: @wbc_ac2;
  color: @wbc_bg;
  padding: 0em 1em 0em 0.5em;
  font-size: 1em;
  font-weight: bold;
}

#clock.showdate {
  background-color: @wbc_ac2;
  color: @wbc_bg;
  padding: 0.3em 0em 0em 1.5em;
  font-size: 0.7em;
}


#mode, 
#battery, 
#cpu, 
#memory, 
#network, 
#bluetooth,
#pulseaudio, 
#idle_inhibitor, 
#temperature,
#custom-layout,
#backlight,
#network#wlp-band,
#network#enp-band {
/*    min-width: 30px;*/
  color: @wbc_fg;
  font-size: 0.8em;
  padding: 0em 0.6em;
}

#custom-la_bl,
#custom-la_cpu,
#custom-la_mem,
#custom-la_vol_inp,
#custom-la_vol_out,
#custom-la_bat,
#network.wlp-name,
#network.enp-name {
  color: @wbc_ac2;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.2em 0em 0em 1em; /* top right down left */
  margin: 0em;
}

#cpu.freq,
#temperature.cpu {
  font-size: 0.7em;
  padding: 0.2em 0em 0em 1em; /* top right down left */
}

#battery.warning {
}

#battery.critical {
  color: red;
}

#battery.charging {
}

#bluetooth.disabled {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.off {
    color: rgba(128, 128, 128, 1);
}

#bluetooth.connected {
    color: rgba(115, 186, 37, 1);
}

#custom-sar_fg_bg {
  color: @wbc_fg;
  background-color: @wbc_bg;
}

#custom-sar_bg_fg {
  color: @wbc_bg;
  background-color: @wbc_fg;
}
#custom-sal_bg_fg {
  color: @wbc_bg;
  background-color: @wbc_fg;
}

#custom-sal_fg_bg {
  color: @wbc_fg;
  background-color: @wbc_bg;
}

#custom-arr_ac2_ac1 {
  color: @wbc_ac2;
  background-color: @wbc_ac1;
}
#custom-arr_fg_bg {
  color: @wbc_fg;
  background-color: @wbc_bg;
}
#custom-arr_fg_ac3 {
  color: @wbc_fg;
  background-color: @wbc_ac3;
}
#custom-arr_ac3_bg {
  color: @wbc_ac3;
  background-color: @wbc_bg;
}
#custom-arr_bg_fg {
  color: @wbc_bg;
  background-color: @wbc_fg;
}
#custom-arr_ac1_bg {
  color: @wbc_ac1;
  background-color: @wbc_bg;
}
#custom-arr_ac1_ac3 {
  color: @wbc_ac1;
  background-color: @wbc_ac3;
}
#custom-arr_ac1_fg {
  color: @wbc_ac1;
  background-color: @wbc_fg;
}
#custom-arl_ac2_ac1 {
  color: @wbc_ac2;
  background-color: @wbc_ac1;
}
#custom-arl_fg_bg {
  color: @wbc_fg;
  background-color: @wbc_bg;
}
#custom-arl_bg_fg {
  color: @wbc_bg;
  background-color: @wbc_fg;
}
#custom-arl_ac2_bg {
  color: @wbc_ac2;
  background-color: @wbc_bg;
}
#custom-arl_ac3_bg {
  color: @wbc_ac3;
  background-color: @wbc_bg;
}
#custom-arl_bg_ac2 {
  color: @wbc_bg;
  background-color: @wbc_ac2;
}
#custom-arl_ac2_fg {
  color: @wbc_ac2;
  background-color: @wbc_fg;
}
